body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menu-form input {
    max-width: 50px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid grey;
    text-align: center;
    font: inherit;
}

body {
    background-image: url(../Content/images/site-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
}

.user-body {
    background-color: rgba(0, 0, 0, 0.75);
    /*background: linear-gradient(90deg, #21252900 50%);*/
    padding: 30px;
}

.bg-dark {
    background-color: #131313 !important;
    padding: 10px;
}

.nav-link {
    font-size: 1em;
    text-decoration: underline transparent;
    transition: text-decoration 300ms ease-out;
}

.nav-link:hover {
    text-decoration: underline;
    transition: text-decoration 300ms ease-in;
}

.orderButtons {
    width: 230px;
    padding-top: 10px;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    /*margin-left: -80px;*/
}

/*#brandNav{
    font-size:2.5em;
    text-align: center;
    transform: translate(-50%,10px);
    display: block;
    color:antiquewhite;
}*/

.navbar-nav li {
    padding-left: 60px;
    font-family: var(--custom-font_1);
    letter-spacing: 2px;
    font-size : 1.4em;
}

.food_remove {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 0px;
}
.food_add {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
}

.orderButtonText{
    font-size:2em;
    position:relative;
    top:-13px;
}
.foodQ {
    height: 40px;
    width: 40px;
    position: relative;
    top: 3px;
}

.orderList h3{
    text-transform: lowercase;
}

h2{
    text-align: center;
}

.orderBar {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 28px;
    position: sticky;
    top:100px;
    height:max-content;
    
}

.menu{
    max-width: 100%;
}

.menu-list{
    padding-top: 50px;
}

.fixed-top-offset{
    top: 150px;
    width: 280px;
    right: -1000px;
}
/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.mainOrderButton{
    text-align: right;
}

.totalAmount{
    width: 100px;
    display:inline-block;
    text-align:left;
}

#orderWarning {
    text-align:center;
    color: red;
    font-weight: bolder;
    display: none;
}

.orderPreview td{
    color: antiquewhite;
    text-align:center;
    text-transform: lowercase;
}
.orderPreview th {
    color: navajowhite;
    text-align: center;
}

.order-Navigator{
    /*display:none;*/
    position:fixed;
    top: 90vh;
    right: 20px;
    display:none;
}

.orderBtn{
    display: inline-block;
    width:fit-content();
}

#payButton{
    text-align:center;
}

.orderMore{
    text-align:center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.filter-btn{
    border:none;
    background:none;
    color:antiquewhite;
}

h2.sticky-top.filter{
    padding-top: 10px;
    margin: 0;
}

.sticky-top.filter {
    background-color: #131313f7;
    padding: 20px 0px 20px 0px;
}

#orderNotification {
    display: none;
    text-align: center;
    margin-top: 20px;
}


@media only screen and (max-width: 992px) {
    .totalAmount{
        text-align:center;
        display: block;
        margin: 0 auto;
    }
    .orderBtn{
        margin: 0 auto;
        padding-top: 40px;
        text-align: center;
        width: 100%;
    }

    #brandNav{
        display: block;
        width: 100%;
    }

    #brandNav img{
        transform: translate(70%,0);
    }

    .nav-item{
        width: 100%;
    }

    .location-list li {
        display: inline-block;
    }

    .location-list {
        text-align: center;
    }

    address{
        text-align:center;
    }
}

@media only screen and (max-width: 768px) {
    .orderButtons {
        padding-top: 5px;
        padding-bottom: 15px;
    }
}
