@model IEnumerable<RestaurantApplication.Models.FoodDto>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
@{ 
    int food_id = 0;
}
<form method="POST" action="/OrderItems/PlaceOrder/">
    @foreach (var food in Model)
    {
        <h2>@food.FoodName</h2>
        <div>@food.FoodDescription</div>
        <p>$@food.OfferPrice</p>
        <p>
            @for (int i = 0; i < Convert.ToInt32(@food.FoodReviewStar); i++)
            {
                <span>&#9733;</span>
            }
        </p>
        <input type="hidden" name="foodID" value="@food.FoodID">
        <p> <label for="foodQuantity_@food_id">Quantity</label> &nbsp;&nbsp; <button id="add_@food_id" class="btn btn-success food_add">+</button> <input type="text" id="foodQuantity_@food_id" name="foodQuantity" value="0" class="foodQ" /> &nbsp; &nbsp; <button id="remove_@food_id" class="btn btn-danger food_remove">-</button></p>
        food_id++;
    }
    <input type="submit" value="Order!" />
</form>




<script>
    window.onload = function () {
        add_buttons = document.getElementsByClassName("food_add");
        for (element of add_buttons){
            element.onclick = addFood;
        }
        remove_buttons = document.getElementsByClassName("food_remove");
        for (element of remove_buttons) {
            element.onclick = removeFood;
        }

    }
    function addFood() {
        var order_amt = this.parentElement.querySelector(".foodQ").value;
        order_amt++;
        this.parentElement.querySelector(".foodQ").value = order_amt;
        return false;
    }
    function removeFood() {
        var order_amt = this.parentElement.querySelector(".foodQ").value;
        order_amt--;
        this.parentElement.querySelector(".foodQ").value = order_amt;
        return false;
    }
</script>