@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_UserPage.cshtml";
}
<div class="front-banner container" id="about-div">
    <div class="row">
        <div class="innerText col-sm-4">
            <h2>About Us</h2>
        </div>
        <div class="about col-sm-8">
            <p id="headingFirst">This Story started  around 12 years ago in a famous pizzeria in Brixton Village. This pizzeria was the first place where all this passion and experience came from.</p>
            <p>Already pizza chefs in Italy, the team of Cinquecento pizzeria worked for 2 years time at the first Franco Manca that was ever opened. It was there that we saw this incredible pizzeria make so many pizzas per day, around 700-1000. From there the dream to start London’s best Neapolitan pizzeria was born, 10 years later here we are at Cinquecento.</p>
            <p>Of course our experience is not only based at Franco Manca but also at Santa Maria pizzeria which today is still one of the best pizzeria’s in town.</p>
            <p>The Cinquecento team worked for 7 years at Santa Maria, which for many years was the undisputed number 1 in London, until now!</p>
        </div>
    </div>
</div>