@{
    ViewBag.Title = "Contact";
}

<div class="front-banner container">
    <div class="row">
        <div class="innerText col-sm-4">
            <h2>Social</h2>
        </div>
        <div class="about col-sm-8">
            <div class="container">
                <div class="row social-icons">
                    <div class="col">
                        <img src="~/Content/images/icons/facebook.svg" />
                    </div>
                    <div class="col">
                        <img src="~/Content/images/icons/twitter.svg" />
                    </div>
                    <div class="col">
                        <img src="~/Content/images/icons/whatsapp.svg" />
                    </div>
                    <div class="col">
                        <img src="~/Content/images/icons/instagram.svg" />
                    </div>
                    <div class="col">
                        <img src="~/Content/images/icons/google.svg" />
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>