@{
    ViewBag.Title = "Location";
    //Layout = "~/Views/Shared/_UserPage.cshtml";
}
<div class="front-banner container">
    <div class="row">
        <div class="innerText col-sm-4">
            <h2>Locations</h2>
        </div>
        <div class="about col-sm-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <ul class="location-list p-0">
                            <li><button onclick="showLocation('cn')">Canada</button></li>
                            <li class="mt-2"><button onclick="showLocation('us')">USA</button></li>
                            <li class="mt-2"><button onclick="showLocation('it')">Italy</button></li>
                            <li class="mt-2"><button onclick="showLocation('in')">India</button></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div id="map-address">
                            <address>3308 Lake Shore Blvd W Percussion Studio,<br />Etobicoke, ON M8W 1M8, Canada <br /><abbr title="Phone">P:</abbr>425.555.0100</address>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div id="map"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNcvGXnGUHb50-MFQhLUFuPH2W9VtPMz4&callback=initMap&libraries=&v=weekly"
                                async></script>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        initMap();
    }

    let locationDefault = { lat: 43.597250, lng: -79.522584 };
    // Initialize and add the map
    function initMap(location = locationDefault) {

        const map_location = location;

        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            center: map_location,
        });

        const marker = new google.maps.Marker({
            position: map_location,
            map: map,
        });
    }

    function showLocation(locationInput) {
        let location;
        let addressString;
        switch (locationInput) {
            case 'cn':
                location = { lat: 43.597250, lng: -79.522584 };
                addressString = '<address>3308 Lake Shore Blvd W Percussion Studio,<br/>Etobicoke, ON M8W 1M8, Canada<br /><abbr title="Phone">P:</abbr>425.555.0100</address >';
                document.getElementById("map-address").innerHTML = addressString;
                initMap(location);
                break;
            case 'us':
                location = { lat: 47.609681, lng: -122.342155 };
                addressString = '<address>1912 Pike Pl, Seattle,<br />WA 98101, United States <br /><abbr title="Phone">P:</abbr>425.555.0100</address >';
                document.getElementById("map-address").innerHTML = addressString;
                initMap(location);
                break;
            case 'it':
                location = { lat: 41.707366, lng: 12.329779 };
                addressString = '<address>Lungomare Amerigo Vespucci, 00122<br /> Lido di Ostia RM, Italy <br /><abbr title="Phone">P:</abbr>425.555.0100</address >';
                document.getElementById("map-address").innerHTML = addressString;
                initMap(location);
                break;
            case 'in':
                location = { lat: 12.912008, lng: 77.639384};
                addressString = '<address>Sector 3 1085,HSR Layout,<br />Bengaluru, India <br /><abbr title="Phone">P:</abbr>425.555.0100</address >';
                document.getElementById("map-address").innerHTML = addressString;
                initMap(location);
                break;
        }

    }
</script>

